p {
    margin: 0;
    padding: 10px 0;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.devices-sidebar {
    border-right: 1px solid var(--vscode-input-border);
    padding: 10px 10px 10px 0 !important;
    overflow-y: scroll;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 20%;
}

.devices-sidebar__item {
    padding: 15px 5px 15px 5px;
    border-bottom: 1px solid var(--vscode-input-border);
    cursor: pointer;
    width: calc(100%-4px);
}

.devices-sidebar__item:last-child {
    border-bottom: none;
}

.devices-sidebar__item > p {
    margin: 0;
    padding: 0;
}

.device-view {
    padding: 10px 0 10px 10px;
    flex-grow: 1;
}

.device-view__head {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.device-view__head-info {
    flex-grow: 1;
}

.device-view__head-img-container {
    flex-grow: 0;
    flex-basis: 20%;
}

.device-view__head {
    max-width: 100%;
}

.divice-view__compatible-firmware-tablehead {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid var(--vscode-input-border);
}

.divice-view__compatible-firmware-tablehead_version,
.divice-view__compatible-firmware-tablehead_date,
.divice-view__compatible-firmware-tablehead_url {
    text-align: center;
    flex-grow: 1;
    min-width: 33.3333333333333%;
}

.divice-view__compatible-firmware-entry {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.divice-view__compatible-firmware-entry_version,
.divice-view__compatible-firmware-entry_date,
.divice-view__compatible-firmware-entry_url {
    text-align: center;
    flex-grow: 1;
    min-width: 33.3333333333333%;
}

.divice-view__compatible-firmware-entry_url {
    margin: 0;
    padding: 10px 0;
}

.divice-view__compatible-firmware-tablehead_date,
.divice-view__compatible-firmware-entry_date {
    border-left: 1px solid var(--vscode-input-border);
    border-right: 1px solid var(--vscode-input-border);
    
}